{{ template "header.html" .}}
<br/>
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">{{ .repository.Name }} </h3>
        <h4 class="card-title">{{ .resource.Identifiers }} {{ .resource.Title }}</h4>
        <h5 class="card-title">{{ .accession.Identifiers }} {{ .accession.Title }}</h5>
        <br>
        <h4 class="card-title">Create an Optical Disc</h4>
    </div>
    <div class="card-body">

        <form action="/media/optical/create" method="post">
            <div class="form-group">
                <label for="subtype">Optical Type</label>
                <select name="subtype" id="subtype">
                    {{ range $subtype := .subtypes }}
                        <option value="{{ $subtype }}">{{ $subtype }}</option>
                    {{ end }}
                </select>
            </div>
            <input type="submit" class="btn btn-primary"> <a href="/accessions/{{ .accession.ID }}/show" class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>
<br/>
{{ template "footer.html" .}}