{{ template "header.html" .}}
<br>
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title"><a href="/repositories/{{ .repository.ID }}/show">{{ .repository.Name }}</a></h3>
        <h4 class="card-title"><a href="/resources/{{ .resource.ID }}/show">{{ .resource.Identifiers }} {{
            .resource.Title
            }}</a></h4>
        <h5 class="card-title">{{ .accession.Identifiers }} {{ .accession.Title }}</h5>
    </div>
    <br/>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <b>created at</b> {{ .accession.CreatedAt }}<br/>
                <b>updated at</b> {{ .accession.UpdatedAt }}<br/>
                <b>accession note</b><br/>
                <p>Ipsum Lorem...</p>
            </div>
            <div class="col lead">Stats Go Here</div>
        </div>
    </div>
    <br/>
</div>
<br/>
<div class="card card-default">
    <div class="card-header">
        <h4 class="card-title">Media</h4>
        {{ .media }}
    </div>
    <div class="card-body">
        <div class="row justify-content-end">
            <a href="/accessions/{{.accession.ID}}/show?page={{ subtract .page 1}}" class="btn btn-primary btn-sm">prev 10</a>
            <div class="pl-2">
                <a href="/accessions/{{.accession.ID}}/show?page={{ add .page 1 }}" class="btn btn-primary btn-sm">next 10</a>
            </div>
        </div>

        {{ template "entry-table.html" . }}

        <div class="row justify-content-end">
            <div class="lead">Add Media</div>
            <div class="form-inline pl-2">
                <form action="/media/new" method="POST">
                    <select id="model_id" name="model_id" class="form-select" aria-label="Default select example">
                        <option value="0">Optical Disc</option>
                        <option value="1">Hard Disk Drive</option>
                    </select>
                    <input type="hidden" name="accession_id" id="accession_id" value="{{ .accession.ID }}">
                    <input type="hidden" name="repository_id" id="repository_id" value="{{ .repository.ID }}">
                    <input type="hidden" name="resource_id" id="resource_id" value="{{ .resource.ID }}">
                    <input class="btn btn-primary btn-sm" type="submit" value="Create Entry">
                </form>
            </div>
        </div>
    </div>
</div>
{{ template "footer.html" .}}