{{ template "header.html" .}}
<!-- {{ .accession }} -->
<br>

<div class="card card-default">
    <div class="card-header">
        <h2 class="card-title">{{ .repository.Name }} </h2>
        <h3 class="card-title">{{ .resource.AspaceResourceTitle }}</h3>
        <h4>{{ .accession.Identifiers }}: {{ .accession.Title }}</h4>

    </div>
    <br/>
    <div class="card-body">
        <table width="100%">
            <tr>
                <td width="50%" valign="top">
                    <b>accession state</b>: {{ .accession.State }}<br/>
                    <b>created at</b> {{ .accession.CreatedAt }}<br />
                    <b>updated at</b> {{ .accession.UpdatedAt }}<br />
                    <b>accession note</b><br />
                    <p>Ipsum Lorem...</p>
                </td>
            </tr>
        </table>
    </div>
    <br />
</div>
<br />
<div class="card card-default">
    <div class="card-header">
        <h4 class="card-title">Media</h4>
    </div>
    <div class="card-body">
        <a href="#" class="btn btn-primary">Add Entry</a>
    </div>
</div>

{{ template "footer.html" .}}