{{ template "header.html" .}}
<br/>
<div class="card card-default">
    <div class="card-heading">
        <h2 class="card-title">{{ .repository.Name }}</h2>
        <h3 class="card-title"> {{ .resource.ID }} {{ .resource.Identifiers }} - {{ .resource.Title }}</h3>
    </div>
</div>
</br>
<div class="card card-default">
    <div class="card-heading">
        <h4 class="card-title">Accessions</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">Add an Accession</h5>
        <div class="form-inline">
            <form action="/accessions/preview" method="POST">
                <label>Accession ID</label>
                <input type="number" name="accession_id" id="accession_id">
                <input type="hidden" name="repository_id" id="repository_id" value="{{ .repository.ID }}">
                <input type="hidden" name="resource_id" id="resource_id" value="{{ .resource.ID }}">
                <input class="btn btn-primary" type="submit" value="Add">
            </form>
        </div>
    </div>
</div>
</br>
<div class="card card-default">
    <div class="card-body">
        <h4 class="card-title">Media</h4>
    </div>
</div>

{{ template "footer.html" .}}