{{ template "header.html" .}}
<br/>
<div class="card card-default">
    <div class="card-heading">
        <h2 class="card-title">{{ .repository.Name }}</h2>
    </div>
    <div class="card-body">
        slug: {{ .repository.Slug }}</br>
        created at: {{ .repository.CreatedAt }} <br/>
        updated at: {{ .repository.UpdatedAt }} <br/>
    </div>
</div>
<br/>
<div class="card card-default">
    <div class="card-heading">
        <h3 class="card-title">Resources</h3>
    </div>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                {{ range $resource := .resources }}
                <tr>
                    <td>
                        {{ $resource.AspaceResourceIdentifiers }} {{ $resource.AspaceResourceTitle }}
                    </td>
                    <td>
                        <a href="/resources/{{ $resource.ID }}/show" class="btn btn-primary">View</a>
                        <a href="/resources/{{ $resource.ID }}/edit" class="btn btn-secondary">Edit</a>
                        <a href="/resources/{{ $resource.ID }}/delete" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {{ end }}
            </table>
        </div>
    </div>
</div>
<br>
<div class="card card-default">
    <div class="card-heading">
        <h3 class="card-title">Add A Resource</h3>
    </div>
    <div class="card-body">
        <div class="form-inline">
            <form action="/resources/preview" method="POST">
                <label>Resource ID</label>
                <input type="hidden" name="repository_id" id="repository_id" value="{{ .repository.ID }}">
                <input type="number" name="object_id" id="object_id">
                <input class="btn btn-primary" type="submit" value="Add">
            </form>
        </div>
    </div>
</div>

{{ template "footer.html" .}}