{{ template "header.html" .}}
<br/>
<div class="card card-default">
    <div class="card-heading">
        <h2 class="card-title">{{ .repository.Name }}</h2>
        <h3 class="card-title"> {{ .resource.AspaceResourceIdentifiers }} - {{ .resource.AspaceResourceTitle }}</h3>
    </div>
</div>
</br>
<div class="card card-default">
    <div class="card-body">
        <h4 class="card-title">Accessions</h4>
    </div>
</div>
</br>
<div class="card card-default">
    <div class="card-body">
        <h4 class="card-title">Media</h4>
    </div>
</div>

{{ template "footer.html" .}}