{{ template "header.html" .}}
<br>

<div class="card card-default">
    <div class="card-heading">
        <h2 class="card-title">
            {{ .repository.Name }}
        </h2>
    </div>

    <div class="card card-body">
        <h3>Add Resource to Medialog</h3>
        <h4><b>{{ .identifier }}</b> {{ .resource.Title }}</h4>
        <form action="/resources/create" method="POST">
            <div style="display:none;">
                <input type="number" name="repository_id" id="aspace_repository_id" value="{{ .input.RepositoryID}}" />
                <input type="number" name="object_id" id="object_id" value="{{ .input.ObjectID }}" />
            </div>
            <input type="submit" value="Confirm" class="btn btn-primary" />
        </form>
    </div>
</div>

{{ template "footer.html" .}}