{{  template "header.html" . }}
<br />
<card>
    <div class="card card-default">
        <div class="card-header">
            <h2 class="card-title">Users</h2>
        </div>
        <table class="table">
            <th>
                <td>ID</td>
                <td>Email</td>
                <td>Admin?</td>
                <td>Actions</td>
            </th>
        <div class="card-body">
            {{ range $user := .users }}
                <tr>
                    <td>{{$user.Model.ID}}</td>
                    <td>{{$user.Email}}</td>
                    <td>{{$user.IsAdmin}}</td>
                    <td>DELETE</td>
                </tr>
            {{end}}
        </div>
        </table>
    </div>
</card>
{{  template "footer.html" . }}